include filter=lfs diff=lfs merge=lfs -text
xf86drmHash.c filter=lfs diff=lfs merge=lfs -text
libkms filter=lfs diff=lfs merge=lfs -text
man filter=lfs diff=lfs merge=lfs -text
METADATA filter=lfs diff=lfs merge=lfs -text
omap filter=lfs diff=lfs merge=lfs -text
xf86drmRandom.h filter=lfs diff=lfs merge=lfs -text
exynos filter=lfs diff=lfs merge=lfs -text
libdrm_macros.h filter=lfs diff=lfs merge=lfs -text
radeon filter=lfs diff=lfs merge=lfs -text
tegra filter=lfs diff=lfs merge=lfs -text
vc4 filter=lfs diff=lfs merge=lfs -text
xf86drmMode.c filter=lfs diff=lfs merge=lfs -text
amdgpu filter=lfs diff=lfs merge=lfs -text
intel filter=lfs diff=lfs merge=lfs -text
OWNERS filter=lfs diff=lfs merge=lfs -text
README.rst filter=lfs diff=lfs merge=lfs -text
symbols-check.py filter=lfs diff=lfs merge=lfs -text
Android.sources.bp filter=lfs diff=lfs merge=lfs -text
Android.sources.bp.mk filter=lfs diff=lfs merge=lfs -text
libdrm_lists.h filter=lfs diff=lfs merge=lfs -text
libsync.h filter=lfs diff=lfs merge=lfs -text
meson.build filter=lfs diff=lfs merge=lfs -text
util_double_list.h filter=lfs diff=lfs merge=lfs -text
xf86drmHash.h filter=lfs diff=lfs merge=lfs -text
Android.bp filter=lfs diff=lfs merge=lfs -text
core-symbols.txt filter=lfs diff=lfs merge=lfs -text
Makefile.sources filter=lfs diff=lfs merge=lfs -text
meson_options.txt filter=lfs diff=lfs merge=lfs -text
RELEASING filter=lfs diff=lfs merge=lfs -text
tests filter=lfs diff=lfs merge=lfs -text
xf86drm.h filter=lfs diff=lfs merge=lfs -text
CONTRIBUTING.rst filter=lfs diff=lfs merge=lfs -text
data filter=lfs diff=lfs merge=lfs -text
LICENSE filter=lfs diff=lfs merge=lfs -text
util_math.h filter=lfs diff=lfs merge=lfs -text
xf86atomic.h filter=lfs diff=lfs merge=lfs -text
xf86drm.c filter=lfs diff=lfs merge=lfs -text
xf86drmMode.h filter=lfs diff=lfs merge=lfs -text
xf86drmRandom.c filter=lfs diff=lfs merge=lfs -text
CleanSpec.mk filter=lfs diff=lfs merge=lfs -text
libdrm.pc.in filter=lfs diff=lfs merge=lfs -text
xf86drmSL.c filter=lfs diff=lfs merge=lfs -text
freedreno filter=lfs diff=lfs merge=lfs -text
nouveau filter=lfs diff=lfs merge=lfs -text
android filter=lfs diff=lfs merge=lfs -text
etnaviv filter=lfs diff=lfs merge=lfs -text
